@charset "UTF-8";

:root {
    --cor: #006d77;
    --cor1:#83c5be;
    --cor2:#edf6f9;
    --cor3:#ffddd2;
    --cor4:#e29578;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header > h1 {
    font-size: 4em;
    text-align: center;
}

header > menu {
    margin-top: 50px;
    background-color: var(--cor2);
    border-radius: 2px;
}

header > p {
text-align: center;
margin: auto;
display: block;
}

.container {
    width: 350px;
    height: 400px;
    background: #200a3f;
    border-radius: 0px 5px 5px 0px;

}

.btn {
    display: flex;
    justify-content: flex-end;
}

.btn .arrow {
    padding: 0 12px;
}

.menu {
    height: 60px;
    border-bottom: .5px solid #000;
    color: #00ec85;
    
    align-items: center ;
    
}

.icon {
    display: flex;

}

.apresentacao {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.apresentacao > p {
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.apresentacao > img {
    margin-right: 150px;
    border-radius: calc(50%);

}